.post-list {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.post-list a {
  text-decoration: none;
}

.post-list .card-post h2 {
  font-size: 2.5rem;
  color: var(--details-color-blue);
}

.card-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}


.card-post-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
