// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-color: #f7f8fa;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.post-link {
    color: #2f3e46;
}

a:link {
    color: #03a9f4; /* blue */
  }
  
  a:visited {
    color: #007ac1; /* darker blue */
  }
  
  a:hover {
    color: #0097e6; /* lighter blue */
  }
  
  a:active {
    color: #0065b3; /* even darker blue */
  }



@media only screen and (max-width: 1370px) {
  ul, ol {
    margin-left: 0px;
  }
  .wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
}
