// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-item {
  list-style-type: none;
  margin-bottom: 20px;
}

img {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlight {
  background: #d2e6ff;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.highlighter-rouge .highlight {
  background: #d2e6ff;
}
pre, code {
  background-color: #d2e6ff;
}

.post-content-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.post-image {
  height: auto;
  object-fit: cover;
  min-width: 400px;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.post-text {
  flex: 1;
}

.post-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.post-content a {
  color: #2a7ae2;
}

.post-link a:hover {
  text-decoration: none;
  color: #4cd2f3;
  font-weight: bold;
}

.post-link a:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.post-link h2 {
  margin-bottom: 10px;
}

.post-meta {
  display: block;
  font-size: 1em;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-excerpt {
  // font-size: 0.9em;
  color: #333;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #eee;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Increase font size for screens smaller than 768px (typically mobile devices) */
@media screen and (max-width: 768px) {
  .post-content-list {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .post-list {
    padding: 5px;
  }
  .post-image {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
  }
  .page-content {
    width: 100%
  }
  body {
    font-size: 18px;
  }
  a, button {
    padding: 15px;
  }
}

/* Further increase font size for very small screens (like small smartphones) */
@media screen and (max-width: 480px) {
  .post-content-list {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .post-list {
    padding: 5px;
  }
  .post-image {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
  }
  .sidebar {
    display: none;
  }
  .page-content {
    width: 100%
  }
  body {
    font-size: 18px;
  }
}

.page-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  margin: 20px;
}


