<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <header class="header">
    <div class="header-container">
      <h2><a href="{{ '/' | relative_url }}" class="header-logo">Alex Laverty</a></h2>
    </div>
  </header>

  <main role="main">
    {{ content }}
  </main>

  <footer class="footer">
    <div class="footer-container">
      <p>&copy; {{ site.time | date: '%Y' }} Alex Laverty. All rights reserved.</p>
      <p>
        <a href="{{ site.baseurl }}/">Home</a> |
        <!-- <a href="{{ site.baseurl }}/about">About</a> -->
      </p>
    </div>
  </footer>

  {% if site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- <script src="{{ '/assets/js/main.js' | relative_url }}"></script> -->
</body>
</html>