---
layout: default
---

<div class="container">
  <div class="main-content">
    <article class="post">
      <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>

          <div class="post-meta">
              <div class="post-author">
                  <img src="{{ site.baseurl }}/assets/images/alexlaverty.jpg" alt="Alex Laverty">
                  <div>
                      <span class="post-author-name">Alex Laverty</span>
                      <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
                  </div>
              </div>
          </div>

          {% if page.categories %}
          <div class="post-categories">
              {% for category in page.categories %}
              <a href="{{ site.baseurl }}/categories/{{ category | slugify }}" class="category-tag">
                  {{ category }}
              </a>
              {% endfor %}
          </div>
          {% endif %}

          <!-- {% if page.image %}
          <img class="post-image" src="{{ page.image }}" alt="{{ page.title }}">
          {% endif %} -->
      </header>

      <div class="post-content">
          {{ content }}
      </div>
  </article>
  </div>

  {% include sidebar.html %}
</div>

<style>


</style>